.leadtxt {
    font-family: ProximaNovaRegular;
    padding-left: 30px;
    margin: 0;
    margin-top: 6px;
  }
  
  .btn-outline-secondary {
    border: 1px solid rgb(221, 219, 218);
    color: var(--btnColor);
  }
  
  .btn-outline-secondary:hover {
    background-color: rgb(244, 246, 249);
  }
  
  .mar-rgt {
    margin-right: 20px;
  }
  